$white: #FFF;
$black: #000;
$hblack: #252525;
$sblack: #111111;
$pblack: #111111;
$btnblack: #555555;
$lgrey: #363636;
$lorg: #f5833c;
$dorg: #d9631a;
$horg: #f3823c;
$arroworg: #f5b324;
$dbrown: #5d331d;
$litecnt: #ebdec8;
$brdrbrown: #806c40;
$yelinput: #fcd375;
$brdrgry: #b7b7b7;
$maticon: 'Material Icons';
$font: 'Roboto', sans-serif;
//$curv: 'Satisfy', cursive;
$curv: 'Bira', cursive;
$awe: 'FontAwesome';
//'Pacifico', cursive;

.appear {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
.backface {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
} 
