@import "custom-variables";

@media screen and (max-width:1280px) {
	.container { width: 100%; }
	.contactform { padding: 30px 60px 10px; }
  .blogcolumn>div.postbar { padding-right: 30px; }
}

@media screen and (max-width:1100px) {
	.contactform>div { padding: 0 10px; }
  .threewanders>div { padding: 0 15px; }
}

@media screen and (max-width:1023px) {
  .animated {
	  opacity: 1 !important;
	  visibility: visible !important;
	  -webkit-animation-name: none !important;
	  -moz-animation-name: none !important;
	  animation-name: none !important;
	  -webkit-animation-duration: 0s !important;
	  -moz-animation-duration: 0s !important;
	  animation-duration: 0s !important;
	  -webkit-animation-delay: 0s !important;
	  -moz-animation-delay: 0s !important;
	  animation-delay: 0s !important;
  }
  body { /* padding-top: 60px; */ }
  .topbannersub {
    > div { padding-top: 60px; }
  }
  .flexwanderpage {
    &.detailpage { height: 350px; padding-top: 0; }
  }
  .eventslider { padding-top: 0; }
  .nav-icon { display: inline-block; }
  .headflex { flex-direction: column;
  	> div {
  		&:first-child { text-align: center; width: 100%;
  			img { width: 80px; }
  		}
  		&:last-child { text-align: center;
  			nav { background-color: $lgrey; height: 100%; left: 0; opacity: 0; overflow-y: auto; padding: 40px; position: fixed; top: 0; transform: translateX(100%); transition: all .25s ease; visibility: hidden; width: 100%; 
  				&.active { opacity: 1; transform: translateX(0); visibility: visible; }
  				/* .closemenu { display: inline-block; } */
  				> ul { margin: 0 auto; padding-top: 10px; width: 320px;
  					> li { display: list-item; margin: 0; 
  						&:last-child {
  							ul { text-align: left; }
  						}
  						a { padding: 10px;
  							&:after { display: none; }
  							&.submenu { background-color: $white; color: $hblack; position: relative; 
  								&:before { content: '\e5cf'; font: 24px/24px $maticon; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); }
  							}
  						}
  						ul { opacity: 1; position: static; transform: translateY(0); visibility: visible; width: 100%; }
  					}
  				}
  			}
  		}	
  	}
  }
  .flexwanderpage { align-items: center; }
  .blogcolumn {
    > div {
      &.postbar, &.sidebar { flex: 1 1 100%; padding-right: 0; padding-bottom: 15px; }
    }
  }
  .boxabt { padding: 30px 25px; 
  	> div { padding: 0 15px; }
  }
  .formcntfield { padding: 0 0 10px 0; 
  	label { padding-bottom: 5px; position: static; }
  }
  /* .contactform>div:last-child>div:first-child { padding-bottom: 68px; } */
  .recentblog { padding-top: 60px; }
  .drinkmore {
  	> div { padding: 0 10px; }
  }
  .recntlink {
  	> div {
  		&:first-child, &:last-child { flex-basis: 100%; text-align: center; }
  		&:first-child {padding-bottom: 10px; }
  	}
  }
  .sustainflex { flex-direction: column;
    > div { flex-basis: 100%; padding: 0; 
      img { display: block; margin: 20px auto 0; }
    }
  }
  .knowbeer { padding: 50px 0; }
  .middleeight.mapform, .middleeight { padding: 50px 0; width: 100%; }
  .footflex { width: 100%; }
  .listbeer>div { width: 50%; }
  .listofbeer { padding: 10px 0; }
  .trendingcombo { padding: 90px 0 40px; }
  .tablenow { bottom: 15px; }
  .topbannersub>div { padding-top: 0; }
  .topbannersub > img { display: none; }
  .internatbroad, .mobindmenu { display: block; }
  .flexwanderpage.reducehgt { height: 500px; 
    > div { padding: 60px 0; }
  }
}

@media screen and (max-width:950px) {
  .flexboxbeer {
    > div {
      &:first-child { padding: 0 0 25px; width: 100%; 
        img { display: block; margin: 0 auto; width: initial; }
      }
      &:last-child { padding: 0; width: 100%; }
    }
  }
  .singlecombo>div .twofbcombo, .singlecombo>div:first-child .twofbcombo { align-items: center; flex-direction: column; }
  .singlecombo>div .twofbcombo>div:first-child { padding: 0; }
  .singlecombo>div:first-child .twofbcombo>div, .singlecombo>div .twofbcombo>div { justify-content: center; }
  .singlecombo>div .twofbcombo>div img { margin-bottom: 15px; }
}

@media screen and (max-width:840px) {
  .threewanders>div { flex: 1 1 100%; padding: 0 0 25px; 
    &:last-child { padding-bottom: 0; }
  }
  .threewanders.landimgs>div { padding: 0 0 15px; 
    &:last-child { padding-bottom: 0; 
      img { margin-bottom: 0; }
    }
  }
  .middlebeercontent .twosmallbeer { padding-bottom: 0; }
  .singlecombo>div .twofbcombo>div { width: 100%; }
}

@media screen and (max-width:768px) {
	.glassbeer { padding: 0; }
	.fourthsect {
		p { padding-bottom: 25px; }
	}
	.contactform { padding: 20px 30px 10px; width: 100%;
		&:before, &:after { display: none; }
		> div { flex-basis: 100%; padding: 0; 
      /*
			&:last-child { 
				> div {
					&:first-child { padding-bottom: 15px; }
					&:last-child { padding-bottom: 0; }
				}
			}
      */
		}
	}
	.formcntfield { padding-bottom: 15px; }
	.recentblog { padding-top: 50px; }
  .boxabt { flex-direction: row;
    &:first-child {
      > div {
        &:first-child { padding-bottom: 30px; }
      }
    }
    > div { flex-basis: 100%; padding: 0; 
      h2 { padding-bottom: 15px; }
    }
  }
  .recentblog h3, .fourthsect h2, .fourthsect p, .sustainflex>div h2, .boxabt>div h2 { text-align: center; }
  .boxabt:nth-child(even)>div:first-child { text-align: left; }
  .footflex>div {
      &:first-child { width: calc(100% - 158px); }
      &:last-child { width: 158px; }
      ul {
        li { padding: 0 5px; }
      }
  }
  .thirdsect { padding: 40px 0 50px; }
  .secondsect { padding: 40px 0 50px; }
  .fourthsect { padding: 40px 0 20px; }
  footer { padding: 30px 0 25px; }
  .evttablemiddle.eventboard, .evttablemiddle.offerside { padding: 80px 0; }
  .middleflex>div { width: 100%; }
  .splitwayshow.threewayshow>div { padding: 0 0 20px; width: 100%; }
  .flexboxbeer { padding: 40px 0; }
}

@media screen and (max-width:699px) {
  .listbeer>div { padding: 10px 5px; }
}

@media screen and (max-width:600px) {
	.drinkmore>div { padding: 0 5px; }
  .footflex { flex-direction: column; padding-bottom: 10px;
    > div {
      &:first-child, &:last-child { text-align: center; width: 100%; }
      address { padding-bottom: 25px; }
      h2 { padding-bottom: 15px; }
    }
  }
 .sustainflex>div li { padding-bottom: 10px; }
 .boxabt { padding: 20px 15px; }
 .boxabt>div h2 { font-size: 28px; line-height: 36px; }
 .contactform { padding: 30px 20px 15px; }
 .threewanders, .middleeight.mapform, .middleeight { padding: 40px 0; }
 .splitwayshow.twowayshow>div { width: 100%; 
  &:last-child { padding-left: 0; }
  &:first-child { padding-right: 0; }
 }
 .listbeer>div { padding: 0 0 15px; width: 100%; 
  &:last-child { padding-bottom: 0; }
 }
 .flexboxbeer { padding: 30px 0; }
 .middlebeercontent {
  .onelinedetail { padding-bottom: 10px; }
  .twosmallbeer>div { width: 100%; }
  .twodetailbeer>div { width: 100%; 
    &:last-child { padding-top: 0; }
  }
 }
 .middlebeercontent .twodetailbeer:before { display: none; }
 .knowbeer { padding: 40px 0; }
 .singlecombo>div:first-child:before { height: 40px; width: 40px; }
 .singlecombo>div .twofbcombo>div { font-size: 14px; }
 .internatbroad .slick-arrow i { font-size: 40px; line-height: 50px; }
 .internatbroad .slick-arrow.slick-next { right: 0; }
 .internatbroad .slick-arrow.slick-prev { left: 0; }
}

@media screen and (max-width:560px) {
	.drinkmore>div { flex: 0 1 100%; padding: 0; }
  .recntlink { padding-bottom: 5px; }
	.recentblog { padding-top: 35px; }
  .homelogo>div img { width: 100%; }
  .footflex>div p, .footflex>div address { font-size: 14px; }
  .footflex>div h2 { font-size: 26px; }
  .fourthsect h2, .sustainflex>div h2 { font-size: 30px; line-height: 40px; }
  .recntlink>div h5 { font-size: 14px; }
  .fourthsect p { font-size: 16px; }
  .homelogo>div h1 strong { font-size: 25px; }
  .evttablemiddle.eventboard, .evttablemiddle.offerside { padding: 50px 0; }
  .singlecombo>div .twofbcombo>div { font-size: 13px; }
  .singlecombo>div:first-child:before { height: 30px; width: 30px; }
  .singlecombo>div:first-child .twofbcombo>div, .singlecombo>div .twofbcombo>div { text-align: center; }
}

@media screen and (max-width:480px) {
	.headflex>div:last-child nav { padding: 40px 15px 20px;
		> ul { width: 100%; }
	}
  .singlecombo>div:first-child:before { height: 30px; width: 30px; }
  .singlecombo>div .twofbcombo>div { font-size: 12px; }
}